.page {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}
.page__alert {
    margin-bottom: 20px;
}
.page__login {
    margin-bottom: 20px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
.cart-table tr:first-child td {
    border-top: none;
}
.cart-table td:first-child {
    vertical-align: middle;
}