<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>JavaSchool Application</display-name>
    <description>
        Some description here
    </description>

    <servlet>
        <servlet-name>MyTestServlet</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSettingsServlet</servlet-name>
        <servlet-class>servlets.ProductsSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientManagementServlet</servlet-name>
        <servlet-class>servlets.ClientManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlets.CartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyTestServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSettingsServlet</servlet-name>
        <url-pattern>/tariffs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSettingsServlet</servlet-name>
        <url-pattern>/options/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientManagementServlet</servlet-name>
        <url-pattern>/clients/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientManagementServlet</servlet-name>
        <url-pattern>/contracts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart/*</url-pattern>
    </servlet-mapping>

</web-app>